@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<InfoComponent Title="WASM Version">
        Browser da çalışır.
        İlk yükleme uzun sürer.
        Api bağlantısı ile çalışmak zorundadır.
        Diğer js frameworkları gibi, başka bir frontend development sistemi.
</InfoComponent>